---
http_interactions:
- request:
    method: post
    uri: https://api.foamfactory.io/login
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic c2NvdHRqOjEyM3F3ZTQ1Ng==
      X-Api-Key:
      - 0c4e97c2f7af608117e519d941f1d2fbc25fe46a
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"b6de128a35a1ef14fc050b4cccb6353d"
    body:
      encoding: UTF-8
      string: '{"id":1,"name":"Scott Johnson","username":"scottj","email":"scottj@sinkingmoon.com","validation_hash":null,"validation_expire_date":null,"email_validated":true,"created_at":"2019-05-24T02:08:47.000Z","updated_at":"2019-09-10T15:05:24.000Z","role":"admin","one_time_login_hash":null,"one_time_login_hash_expire_date":null,"auth_token":"eyJhbGciOiJIUzI1NiJ9.eyJjcmVhdGlvbl9kYXRlIjoiMjAxOS0wOS0wOVQwOToxOTo0Ny0wNTowMCIsImV4cGlyYXRpb25fZGF0ZSI6IjIwMTktMTAtMDlUMDk6MTk6NDctMDU6MDAiLCJ1c2VyX2lkIjoxfQ.DGHpXaLK9oyHPz9MyXjwQJq1QSfAyh5DMElBFTF7lXw"}'
  recorded_at: Tue, 08 Oct 2019 21:43:41 GMT
- request:
    method: get
    uri: https://api.foamfactory.io/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - 0c4e97c2f7af608117e519d941f1d2fbc25fe46a
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJjcmVhdGlvbl9kYXRlIjoiMjAxOS0wOS0wOVQwOToxOTo0Ny0wNTowMCIsImV4cGlyYXRpb25fZGF0ZSI6IjIwMTktMTAtMDlUMDk6MTk6NDctMDU6MDAiLCJ1c2VyX2lkIjoxfQ.DGHpXaLK9oyHPz9MyXjwQJq1QSfAyh5DMElBFTF7lXw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"b9bd177e2ed4347ceaddcb7ad00ef7f9"
    body:
      encoding: UTF-8
      string: '{"users":[{"id":1,"name":"Scott Johnson","username":"scottj","email":"scottj@sinkingmoon.com","validation_expire_date":null,"email_validated":true,"created_at":"2019-05-24T02:08:47.000Z","updated_at":"2019-09-10T15:05:24.000Z","role":"admin"},{"id":2,"name":"Autumn
        Johnson","username":"autumn","email":"jaywir3+autumn@gmail.com","validation_expire_date":null,"email_validated":true,"created_at":"2019-09-30T16:49:07.000Z","updated_at":"2019-09-30T16:49:23.000Z","role":"user"}]}'
  recorded_at: Tue, 08 Oct 2019 21:43:41 GMT
recorded_with: VCR 3.0.3
