---
http_interactions:
  - request:
      method: patch
      uri: https://api.something.com/password/change
      body:
        encoding: UTF-8
        string: '{"one_time_login_hash":"xX3UQ9WYuMGOQ9SQt7DtSR2EOWnPCdMk","new_password":"789rty123","password_confirmation":"789rty123"}'
      headers:
        Content-Type:
          - application/json
        X-Api-Key:
          - blahblahblahblah
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"c955e57777ec0d73639dca6748560d00"
      body:
        encoding: UTF-8
        string: '{"success":true}'
    recorded_at: Sat, 04 May 2019 15:42:42 GMT
recorded_with: VCR 3.0.3
